@page "/"
@using WebApplication.JSInterfaces
@inject IJSService JSService;

<p>Your name is @_name</p>

<button @onclick="ShowHelloWorldAlert">Show Hello World Alert</button>
<button @onclick="ShowNamePrompt">Show Name Prompt</button>
<button @onclick="ShowNameAlert">Show Name Alert</button>

@code {
    private const string Title = "Please enter your name:";
    private string _name = string.Empty;

    private async Task ShowHelloWorldAlert()
    {
        await JSService.ShowHelloWorldAlert();
    }

    private async Task ShowNamePrompt()
    {
        _name = await JSService.ShowNamePrompt(Title);
    }

    private async Task ShowNameAlert()
    {
        await JSService.ShowNameAlert(_name ?? string.Empty);
    }

}